.container {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.iconWrapper {
  width: 100px;
  height: 100px;
  background: #f0fdf4;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.successIcon {
  font-size: 54px;
  color: #52c41a;
}

.textBlock {
  text-align: center;
}

.title {
  margin: 0;
  font-style: italic;
  font-weight: 900;
}

.ticketBox {
  width: 100%;
  background: #002855;
  padding: 36px 20px;
  border-radius: 32px;
  text-align: center;
}

.ticketLabel {
  color: rgba(255, 255, 255, 0.6);
  font-size: 11px;
  font-weight: 900;
  letter-spacing: 1px;
  display: block;
}

.ticketId {
  color: #fff;
  margin: 8px 0 0;
  font-style: italic;
  font-weight: 900;
  font-size: 32px;
}
